*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 70%;
  max-width: 1200px;
  margin: auto;
}

h1{
  color: rgba(229,49,112,255);
  padding-bottom: 20px;
}

.Titolo{
  text-align: center;
  padding: 20px;
}

img{
  width: 60px;
  height: 60px;
}
.row-1{
}
.col{
  background-color: rgba(15,14,23,255);
  color: white;
  float: left;
  width: calc(88% / 3);
  font-size: 13px;
  margin: 12px;
}
.float{
  float: left;
}
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
ul{
  list-style: none;
}


