*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.container{
  width: 70%;
  max-width: 1200px;
  margin: auto;
}

h1{
  color: rgba(229,49,112,255);
  padding-bottom: 20px;
}

.Titolo{
  text-align: center;
  padding: 20px;
}

img{
  width: 80px;
  height: 80px;
  padding-right: 5px;
}
a{
  color: #32a2d6;
}

.col{
  background-color: rgba(15,14,23,255);
  color: white;
  float: left;
  width: calc(88% / 3);
  font-size: 15px;
  margin: 12px;
  box-shadow: 3px 3px 5px #b6b6b6;
}

.float{
  float: left;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.col h5 {
  padding-top: 7px;
  padding-bottom: 6px;
}

.col p {
  padding-bottom: 6px;
}

